<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta http-equiv="X-UA-Compatible" content="ie=edge">
	<title>Todo App with Vue.js</title>
	<link rel="stylesheet" href="style.css">
</head>
<body>
	<!-- output apply here with main.js -->
	<div id="app">
		<div class="container">
			<h1>My Todos</h1>
			<ul>
				<!-- <li>{{ todos[0] }}</li>
				<li>{{ todos[1] }}</li>
				<li>{{ todos[2] }}</li> -->
				<!-- need to specify index to delete specific data -->
				<li v-for="(todo, index) in todos">
					<input type="checkbox" v-model="todo.isDone">
					<span :class="{done: todo.isDone}">{{ todo.title }}</span>
					<!-- pass index data when delete item triggered -->
					<span @click="deleteItem(index)" class="cmd">[×]</span>
				</li>
				<!-- Apply below if todo is nothing -->
				<li v-show="!todos.length">Nothing todo!</li>
			</ul>
			<form @submit.prevent="addItem">
				<input type="text" v-model="newItem" />
				<input type="submit" value="Add"/>
			</form>
		</div>
	</div>

	<script src="https://cdn.jsdelivr.net/npm/vue"></script>
	<!-- apply vue.js app here -->
	<script src="js/main.js"></script>
</body>
</html>