@charset 'UTF-8';

*{
    box-sizing:border-box;
}

body{
    margin:0;
    padding:0;
    background:#fff;
    font-size:16px;
    font-family: Arial, Helvetica, sans-serif;
}

.stage{
    margin:0 auto;
    width: 100vw;
    height: 100vh;
    /* border: 2px solid #fff; */
    /* はみ出る部分を非表示にする */
    overflow:hidden;
}

/* to scroll both */
#cards{
    width:300vw;/* トータルのcardsの長さ */
    height:100vh;
    /* background: cornflowerblue; */
    /* #cards.moveのアニメーション */
    transition:.5s;
}

.card{
    width:100vw;
    height:100vh;
    background:#fff;
    float:left;
}

.card-inner{
    background:#aaa;
    margin:5vh;
    height:90vh;
    border-radius: 30px;
}

/* カードの間の余白 */
.card + .card{
    margin-left:100vw;
}

/* slide elements */
#cards.move{
    /* 左方向にX軸に寄せる */
    transform:translate(-200vw, 0);
}