@import url('https://fonts.googleapis.com/css2?family=EB+Garamond:wght@400;500;600&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    width: 100%;
    height: 100%;
    font-family: 'EB Garamond', 'Times New Roman', Times, serif;
    background: #fcfcfc;
    color: #1a1a1a;
}

h1 {
    font-weight: 400;
}

a {
    color: #1a1a1a;
    text-decoration: none;
    transition: all .2s ease;
}

a:hover {
    color: #777;
}

.navbar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 80px;
    padding: 32px;
}

.navbar .menu ion-icon {
    padding-right: 20px;
}

.navbar ul {
    list-style: none;
    display: flex;
}

.navbar ul li {
    margin-right: 24px;
}

.navbar ul li:last-of-type {
    margin-right: 0;
}

.swiper-container {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    width: 100%;
    padding: 50px 0;
}

.swiper-wrapper {
    transition-delay: .35s;
}

.swiper-slide {
    width: 640px;
    height: 400px;
}

.swiper-slide:nth-child(1) .slide-img {
    background-image: url('img/img1.jpg');
}
.swiper-slide:nth-child(2) .slide-img {
    background-image: url('img/img2.jpg');
}
.swiper-slide:nth-child(3) .slide-img {
    background-image: url('img/img3.jpg');
}
.swiper-slide:nth-child(4) .slide-img {
    background-image: url('img/img4.jpg');
}
.swiper-slide:nth-child(5) .slide-img {
    background-image: url('img/img5.jpg');
}
.swiper-slide:nth-child(6) .slide-img {
    background-image: url('img/img6.jpg');
}

.slide-img {
    background-position: 50%;
    background-size: cover;
    width: 100%;
    height: 100%;
}

.slide-img::after {
    content: '';
    width: 100%;
    height: 100%;
    background-image: linear-gradient(0deg, rgb(220, 220, 220) 0%, rgb(235, 235, 235) 100%);
    mix-blend-mode: multiply;
    position: absolute;
    left: 0;
    top: 0;
}

.slide-img:hover::after {
    opacity: 5;
}

.slide-number {
    position: absolute;
    bottom: -56px;
    right: 8px;
    width: 100px;
    height: 100px;
    overflow: hidden;
    z-index: 1;
}

.slide-number p {
    font-size: 60px;
    opacity: .25;
    position: relative;
}

.slide-number p span {
    position: absolute;
}

.slide-text {
    position: absolute;
    bottom: 20px;
    left: 20px;
    width: 200px;
    height: 32px;
    z-index: 1;
    overflow: hidden;
}

.slide-text h4 {
    font-size: 20px;
    font-weight: lighter;
    position: relative;
}

.slide-text h4 span {
    position: absolute;
}

.footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    padding: 0 32px;
}

.footer-wrapper {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 20px;
}

.footer .scroll p::after {
    content: '';
    display: inline-block;
    border: 1px solid #1a1a1a;
    width: 60px;
    margin: 0 0 0 10px;
    transform: translateY(-4px);
}

.copyright {
    margin-bottom: 20px;
}

.copyright p {
    text-align: center;
    font-size: 14px;
    line-height: 1.5;
}

@media(max-width: 767px) {
    .navbar {
        padding: 16px;
    }

    .navbar .menu ion-icon {
        padding-right: 4px;
    }

    .navbar ul li {
        margin-right: 8px;
    }
    
    .swiper-container {
        padding: 25px 0 50px;
    }

    .swiper-slide {
        width: 100%;
        height: 280px;
    }
}